.paginationControllers {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 2rem;
  padding: 3rem;
  font-size: 2.4rem;
}

.pageNumbersBox {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.pageBtn {
  font-size: 1.8rem;
  font-family: 'Roboto-Medium';
  cursor: pointer;
  padding: 0.5rem;
}

.pageBtnActive {
  font-size: 2.2rem;
}

.arrow {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-size: cover;
}

.arrowLeft {
  background-image: url('../../assets/icons/prev-arrow.svg');
}
.arrowRigth {
  background-image: url('../../assets/icons/next-arrow.svg');
}
.arrowFirst {
  background-image: url('../../assets/icons/first-arrow.svg');
}
.arrowLast {
  background-image: url('../../assets/icons/last-arrow.svg');
}

.arrowLeft:disabled,
.arrowRigth:disabled,
.arrowFirst:disabled,
.arrowLast:disabled {
  background-image: none;
}
