.errorBoundaryWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 1rem;
  padding: 5rem;
}

.errorBoundaryImg {
  background-image: url('../../../assets/icons/notfound.svg');
  width: 20rem;
  height: 20rem;
  display: block;
  background-size: cover;
}

.errorHeading {
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: #ed1d24;
  letter-spacing: 2px;
  transform: skewY(1deg) skewX(10deg);
}

.errorSubHeading {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: #18b400;
  letter-spacing: 2px;
  transform: skewY(1deg) skewX(10deg);
}

.restartButton {
  background-color: #ed1d24;
  color: white;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.restartButton:hover {
  background-color: #a9161b;
}
