.cardDetailsWrapper {
  font-family: 'Roboto-Regular';
  background-color: #000000;
  color: #ffffff;
  border-radius: 3rem;
  overflow: hidden;
  margin: 2rem;
  max-width: 50%;
  height: 100%;
}

.cardContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.cardDetailsTitle {
  font-family: 'Roboto-Medium';
  font-size: 3rem;
}

.cardDetailsImgBox {
  background-color: rgb(24, 180, 0);
  border-radius: 1rem;
  width: 30rem;
  padding: 1rem;
}

.cardDetailsImg {
  width: 100%;
}

.cardDetailsText {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 2rem;
}

.cardDetailsCloseBtn {
  text-align: center;
  border-radius: 10px;
  padding: 8px 16px;
  border: 2px solid #ed1d24;
  transition: all 0.3s;
}
.cardDetailsCloseBtn:hover,
.cardDetailsCloseBtn:active {
  background-color: #ed1d24;
  border: 2px solid #ed1d24;
  color: #000000;
}
