.movieCard {
  width: 20rem;
  height: 30rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 0.3s;
  padding-bottom: 1rem;
}

.cardImg {
  height: 85%;
}

.movieCard:hover {
  transform: scale(101%);
}

.cardContent {
  font-size: 1.6rem;
  font-family: 'Roboto-Medium';
  padding: 0.5rem;
}
