.header {
  background-color: black;
  display: flex;
  align-items: center;
  padding: 1rem 4rem;
  gap: 2rem;
}

.headerTitle {
  color: #ed1d24;
  font-size: 2.8rem;
  font-family: 'Roboto-Medium';
}

.headerTitle::before {
  content: '';
  background-image: url('../../../assets/icons/logo.svg');
  background-size: cover;
  position: relative;
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  top: 5px;
}

.headerErrorButton {
  background-image: url('../../../assets/icons/hulk-icon-default.svg');
  display: inline-block;
  background-size: contain;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  transition: all 0.3s;
  width: 4rem;
  height: 4rem;
}

.headerErrorButton:hover,
.headerErrorButton:focus {
  background-image: url('../../../assets/icons/hulk-icon-hover.svg');
}

.authNav {
  margin-left: auto;
}
