html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100%;
  margin: 0;
}

.root-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.footer {
  padding: 20px 40px;
  flex: 0 0 auto;
  background-color: black;
  color: white;
}

.content {
  padding: 40px 0;
  flex: 1 0 auto;
  margin: 0 auto;
}

a.active {
  border: 2px solid #00d8ff;
  border-radius: 5px;
  background-color: #00d8ff45;
}

.error-wrapper {
  min-width: 450px;
  max-width: 600px;
  height: 12px;
}

.error-text {
  margin: 0;
  font-size: 10px;
  color: red;
  padding-left: 7px;
}

.card-wrapper {
  padding: 10px;
  border: 2px solid #000;
  border-radius: 10px;
  display: flex;
  gap: 10px;
}

.active-card {
  border: 2px solid #00d8ff;
  border-radius: 10px;
  background-color: #00d9ff48;
}
